<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite" >
    <listeners>
        <listener class-name="utilities.Listeners.TestListener"/>
        <listener class-name="utilities.Listeners.AnnotationTransformer"/>
    </listeners>

    <test name="LoginTest">
        <classes>
            <class name="tests.ProductCheckoutTest"/>
        </classes>
    </test>
</suite>